<label for={{nome}}>{{nome}}:</label><br>
<input type={{type}} id={{nome}} name={{nome}}
    {{#if required}}required{{/if}}
    {{#if min}}min="{{min}}"{{/if}} 
    {{#if max}}max="{{max}}"{{/if}}><br>